<h1>Sign up here!</h1>

<form method="POST" action="/users">
  <input type="text" name="user[name]" placeholder="Name"><br>
  <input type="text" name="user[email]" placeholder="Email"><br>
  <input type="text" name="user[location]" placeholder="Location"><br>
  <input type="password" name="user[password]" placeholder="Password"><br><br>
  <input type="submit" value="Sign Up">
</form>